.navbar-inverse{
  background-color: #555555;
  border-color:#555555;
  border-radius: 0px;
}

.navbar{
	margin-bottom: 0px;
	margin-top: 0px;
}

hr{
	margin-top: 0px;
	margin-bottom: 10px;
  border-color: grey;
}

.thumbnail{
	width: 200px;
	height: 300px;
}

.thumbnail_delete{
  width: 200px;
  height: 280px;
}

.thumbnailMyAccount{
  width: 400px;
  height: 200px;
}

.pic{
	max-height: 200px;
	max-width:  150px;
}

.pic_delete{
  max-height: 400px;
  max-width:  300px;
  float: left;
  margin-left: 20px;
}

#Head{
	text-align: center;
}

.tail{
  background-color: lightgray;
  text-align: center;
  padding: 30px;
  color: white;
  margin-top: 10px;
}

/*#Left-Menu{
	border: 1px solid black;
}*/

#TopList, #MyContent{
	border-left: 1px solid grey;
}
body{
	/*width:70%;*/
}
.container{
	/*border: 1px solid black;*/
  background-color: #F0F0F0;
}

/* Fixed sidenav, full height */
/*.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}*/

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  border: none;
  background: #F0F0F0;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #fff;
    padding-left: 2px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #a1a1a1;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #ffffff;
    color: black;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="value"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
}

.headPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 100px;
    /* border: 10px solid #FFF;
    border-radius: 4px;*/
}

#SetAccount{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
